
.btn
{
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.btn-group-separated
{
}

.btn-group-separated > .btn
{
    margin-left: 10px;
}

.btn-group-separated .btn:first-child
{
    margin-left: 0;
}

.btn-group-separated > .btn-sm
{
    margin-left: 4px;
}

.btn-group-separated > .btn-xs
{
    margin-left: 4px;
}

.btn-default
{
    /*border-color: #ccc;    
    background-image: -webkit-linear-gradient(top, #ffffff, #eee);
    background-image: -moz-linear-gradient(top, #ffffff, #eee);
    background-image: -ms-linear-gradient(top, #ffffff, #eee);
    background-image: -o-linear-gradient(top, #ffffff, #eee);
    background-image: linear-gradient(to bottom, #ffffff, #eee);*/
}

.btn-red
{
    background-color: #ab0003;
    border-color: #b90f0f;
    color: #fff;
}

.btn-primary
{  
    /*background-color: #428bca;
    background-image: -webkit-linear-gradient(top, #428bca, #4279a8);
    background-image: -moz-linear-gradient(top, #428bca, #4279a8);
    background-image: -ms-linear-gradient(top, #428bca, #4279a8);
    background-image: -o-linear-gradient(top, #428bca, #4279a8);    
    background-image: linear-gradient(to bottom, #428bca, #4279a8);*/
}

.btn-primary:hover
{
    /*background-image: linear-gradient(to bottom, #3276b1, #275e8d)*/
}

.btn-success, .btn-success:focus
{    
    border-color: #537419;
    background-color: #6c8c33;
    /*background-image: -webkit-linear-gradient(top, #6c8c33, #5a7824);
    background-image: -moz-linear-gradient(top, #6c8c33, #5a7824);
    background-image: -ms-linear-gradient(top, #6c8c33, #5a7824);
    background-image: -o-linear-gradient(top, #6c8c33, #5a7824);    
    background-image: linear-gradient(to bottom, #6c8c33, #5a7824);*/
}

.btn-success:hover
{
    color: #fff;
    background-color: #5d6f27;
    border-color: #697a37;
    /*background-image: linear-gradient(to bottom, #537419, #537419);*/
}

.btn-success[disabled]
{
    /*background-color: #96b85c;
    border-color: #b5cb8e;*/
}

.btn-danger
{
    /*border-color: #b33535;
    background-image: -webkit-linear-gradient(top, #ff5959, #d14745);
    background-image: -moz-linear-gradient(top, #ff5959, #d14745);
    background-image: -ms-linear-gradient(top, #ff5959, #d14745);
    background-image: -o-linear-gradient(top, #ff5959, #d14745);
    background-image: linear-gradient(to bottom, #ff5959, #d14745);*/
}

.btn-info
{
    /*border-color: #36a0ba;
    background: #5bc0de;
    background-image: -webkit-linear-gradient(top, #5bc0de, #3aacc9);
    background-image: -moz-linear-gradient(top, #5bc0de, #3aacc9);
    background-image: -ms-linear-gradient(top, #5bc0de, #3aacc9);
    background-image: -o-linear-gradient(top, #5bc0de, #3aacc9);
    background-image: linear-gradient(to bottom, #5bc0de, #3aacc9);*/
}

btn-info:hover
{
    /*border-color: #257587;*/
}

.btn-gray
{
    color: #fff;
    background: #555;
    /*background-image: -webkit-linear-gradient(top, #555, #333);
    background-image: -moz-linear-gradient(top, #555, #333);
    background-image: -ms-linear-gradient(top, #555, #333);
    background-image: -o-linear-gradient(top, #555, #333);
    background-image: linear-gradient(to bottom, #555, #333);*/
}

.btn-gray:hover
{
    border-color: #222;
    background-color: #444;
}

.btn-gray:hover, .btn-gray:focus, .btn-gray:active
{
    color: #fff;
}

.btn-purple
{
    color: #fff;
    border-color: #792b8a;
    background: #864a94;
    /*background-image: -webkit-linear-gradient(top, #864a94, #632770);
    background-image: -moz-linear-gradient(top, #864a94, #632770);
    background-image: -ms-linear-gradient(top, #864a94, #632770);
    background-image: -o-linear-gradient(top, #864a94, #632770);
    background-image: linear-gradient(to bottom, #864a94, #632770);*/
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active
{
    color: #fff;
    background-color: #663771;
    border-color: #3e2e42;
}

.btn-primary, .btn-success, btn-danger
{
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}

.btn-account
{
    background-color: #555;
    border: 1px solid #777;
    color: #fff;
    display: inline-block;
    padding: 4px 1em;
    border-radius: 4px;
    cursor: pointer;
}

.btn-account:hover
{
    color: #fff;
}

.btn-account .caret
{
    margin-left: 1em;
    color: #888;
}

.btn-group-steps
{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.btn-group-steps li
{
    float: left;
    margin: 0;
    padding: 0;
}

.btn-group-steps .step
{
    position: relative;
    padding: 0 10px;
    line-height: 40px;
    height: 42px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
}

.btn-group-steps li:not(:first-child) .step
{
    border-left: none;
    padding-left: 20px;
}

.btn-group-steps li:not(:last-child) .step
{
    border-right: none;
}

.btn-group-steps li:first-child > .step
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.btn-group-steps li:last-child > .step
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group-steps .arrow, .btn-group-steps .arrow:after
{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    z-index: 2;
}

.btn-group-steps .arrow
{
    position: absolute;
    top: -1px;
    right: -12px;
    border-width: 21px 0 21px 12px;
    border-left-color: #ddd;
}

.btn-group-steps .arrow:after
{
    position: absolute;
    top: 50%;
    right: 1px;
    margin-top: -20px;
    border-width: 20px 0 20px 11px;
    border-left-color: #fff;
}

/* Hover style */
.btn-group-steps .step:hover
{
    background-color: #e9f5ff;
    border: 1px solid #9fe7f8;
}

.btn-group-steps .step:hover .arrow
{
    border-left-color: #9fe7f8;
}

.btn-group-steps .step:hover .arrow:after
{
    border-left-color: #e9f5ff;
}

/* Active style */
.btn-group-steps li.active > .step
{
    border-color: #285e8e !important;
    background-color: #3276b1;
    color: #fff;
}

.btn-group-steps li.active .arrow
{
    border-left-color: #285e8e !important;
}

.btn-group-steps li.active .arrow:after
{
    border-left-color: #3276b1 !important;
}

/* Disabled Style */
.btn-group-steps li.disabled > .step,
.btn-group-steps li.disabled:hover > .step
{
    color: #888;
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
}

.btn-group-steps li.disabled .arrow,
.btn-group-steps li.disabled:hover .arrow
{
    border-left-color: #ddd;
}

.btn-group-steps li.disabled .arrow:after,
.btn-group-steps li.disabled:hover .arrow:after
{
    border-left-color: #f5f5f5;
}
