.listing-container
{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.listing-container .row
{
    margin-left: 0;
    margin-right: 0;
}

.listing-container .location-bar
{
    background-color: #2f2f2f;
    border-bottom: 1px solid #000;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    padding: 15px 10px;
    font-size: 16px;
    font-family: 'Segoe UI';
    text-shadow: 0 0 2px #000;
}

.listing-container .jumbotron
{
    position: relative;
    border-radius: 0;
    background: #3a3a3a url(/images/glow.png) no-repeat right top;
    border: none;
    border-top: 1px solid rgba(255,255,255,.10);
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #f0f0f0;
}

.listing-container .jumbotron h1
{
    margin-top: 0;
    border-bottom: 2px solid #accb3b;
    padding-bottom: 10px;
    color: #fff;
}

.listing-container .jumbotron h1 small
{
    font-size: 40%;
}

.listing-container .jumbotron h1 p
{
    color: #aaa;
}

.listing-container .pull-down-info-container
{
    top: 0px;
}

.listing-container .main-info-outer .pull-down-info
{
    background-color: rgba(0,0,0,.25);
}

.listing-container .main-info-inner .img-thumbnail
{
    padding: 2px;
}

.listing-container .cover-photo-container
{    
    line-height: 0;
}

.listing-container .cover-photo-container .img-thumbnail
{
    width: 100%;
    background-color: transparent;
    border-color: #5c5c5c;        
}

.listing-container .cover-photo
{
    max-height: 250px;
    margin: 0 auto;
    border: 1px solid #fff;
}

.listing-container .default-cover-photo
{
    background-image: none;
}

.listing-container .quote
{
    position: relative;
    clear: both;
    text-shadow: 0 0 2px #111;
    z-index: 2;
    border-radius: 10px;
    background-color: rgba(255,255,255,.2);
    padding: 1em;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.quote .quote-text
{
    color: #ddd;
}

.quote img
{
    margin: 6px 6px 0 6px;
}

.quote .quote-icon
{
    color: #72e3Ff;
    font-size: 1.5em;
}

.listing-container .quote:after
{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    content: " ";
    border-top: 20px solid rgba(255,255,255,.2);
    border-right: 30px solid transparent;
    bottom: -20px;
    right: 50px;
}

.carousel .thumbnail
{
    background-color: rgba(255,255,255,.20);
    border-color: rgba(255,255,255,.10);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 2px;    
}

.carousel .thumbnail img
{
    border: solid 1px #f5f5f5;
}

.carousel-inner
{
}

.carousel-control.left, .carousel-control.right
{
    background-image: none !important;
}

.carousel-control
{
    top: 50%;
    margin-top: -15px;
    bottom: auto;
    padding-top: 4px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 1;
}

.carousel-control, .carousel-control:active, .carousel-control:focus
{
    color: #aaa;
}

.carousel-control:hover
{
    color: #006680;
}

.carousel-control.left, .carousel-control.right
{
    background-image: none !important;
}

.carousel-control.right
{
    left: auto;
    right: -32px;
}

.carousel-control.left
{
    right: auto;
    left: -32px;
}

.carousel-indicators
{
    bottom: -25px;
}

.carousel-indicators li
{
    border-radius: 0;
    width: 10px;
    height: 10px;
    background: #aaa;
    border: 1px solid #ccc;
}

.carousel-indicators .active
{
    width: 12px;
    height: 12px;
    background: #3276b1;
    border-color: #3276b1;
}

.info-bar-item
{
    display: inline;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    padding: 0 20px;
    position: relative;
}

.info-bar-item:first-child
{
    padding-left: 0;
    border-left: none;
}

.info-bar-item:last-child
{
    padding-right: 0;
    border-right: none;
}

.info-bar-item .fa-stack-2x
{
    color: #91e0dd;
}

.info-bar-item .fa-stack-1x
{
    color: #fff;
}

.photo-gallery-container
{
    padding: 15px 20px;
    background-color: #4a4a4a;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.listing-details-container
{
    border-top: 1px solid rgba(255,255,255,0.75);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 15px;
    background-color: #f8f8f8;
}

.listing-details-container h4 .fa-stack
{
    font-size: 0.8em;
}

.info-item
{
    margin-top: 10px;
    color: #aaa;
    font-size: 16px;
}

.info-item i
{
    color: #6394a9;
}

.info-item .fa-stack-2x
{
    color: #aedbdf;
    text-shadow: 0 0 4px #222;
}

.info-item .fa-stack-1x
{
    color: #111;
}

.list-group-item-heading
{
    color: #006680;
    margin-bottom: 10px;
}

.pull-down-info-container
{
    position: absolute;
    top: 1px;
    right: 15px;
}

.pull-down-info
{
    float: right;
    background-color: rgba(0,0,0,.15);
    color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgba(255,255,255,0.2);
    border-top: none;
    padding: 6px 10px;
    text-shadow: 0 0 3px #111;
}

.pull-down-info.aqua
{
    background-color: #2e7088;
}

.pull-down-info.green
{
    background-color: #65792a;
}

.pull-down-info + .pull-down-info
{
    margin-right: 20px;
}

.listing-container .info-box
{
    background-color: rgba(0,0,0,0.2);
    padding: 20px 20px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.listing-container .info-box .fa-stack
{
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.listing-container .list-group-item
{
    border-color: #ddd;
    text-wrap: normal;
}

.listing-container .list-group
{
    box-shadow: 0 0 2px #fff;
}

.list-details
{
    margin-left: 1em;
}

.list-details li
{
    padding: 6px 4px;
    border-bottom: 1px dashed #5c5c5c;
    color: #fff;
}

.list-details li i
{
    color: #8c8c8c;
}

.pull-down-info .fa-square
{
    color: #159ea3;
}