
.listing-grid-item
{
    width: 320px;
    margin-right: 30px;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
}

.listing-grid-item .panel-heading
{
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding: 10px 10px;
}

.listing-grid-item .panel-body
{
    padding: 0;
}

.listing-grid-item .cover-photo-container
{
    /*background-color: #f5f5f5;
    border: 1px solid #eee;*/
}

.listing-grid-item .default-cover-photo
{       
    overflow: hidden;
    border-radius: 0;    
}

.listing-grid-item .default-cover-photo i
{
    color: #f0f0f0;
    font-size: 100px;
}

.listing-grid-item .list-details
{
    margin-left: 1em;
}

.listing-grid-item .list-details li
{
    padding: 4px 4px;
    border-bottom: 1px dashed #ddd;
}

.listing-grid-item .list-details li i
{
    color: #175661;
}

.detail-item
{
    font-size: 14px;
}

.detail-item i
{
    color: #175661;
}

.detail-item .value
{
    color: #888;
    font-weight: bold;
}

.listing-grid-item .address-row
{
    color: #195d69;
    font-weight: bold;
}

.listing-grid-item h4.price
{
    font-weight: bold;
    font-family: 'Bitter', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.grid-item-footer
{
    background-color: #f8f8f8;
}

.grid-item-footer a.link
{
    color: #bd5494;
}

.grid-item-footer a.link i
{
    color: #888;
}

.listing-grid-item .badge
{
    border-radius: 4px;
    font-family: sans-serif;
}

.listing-grid-item .badge.distance
{
    background-color: #2d8291;
}

.listing-grid-item .price-row
{
    background-color: #f7f7f7;
}

.listing-grid-item .list-group
{
    margin: 0;
}

.listing-grid-item .list-group > li
{
    border-right: none;
    border-left: none;
}

.listing-grid-item .list-group-item:first-child
{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.listing-grid-item .list-group-item:last-child
{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.listing-grid-item a.rented-vacant-toggle
{    
    border: 1px solid #aaa;
    background-color: #000;
    text-decoration: none;
}

.listing-grid-item a.rented-vacant-toggle:hover
{
    background-color: #111;
    text-decoration: none;
}