.grid-view
{
    margin-bottom: 1em;       
    border-color: #ddd;
}

.grid-view td
{
    border-right-color: #ddd !important;
    border-bottom-color: #ddd !important;
}

.grid-view, .grid-view .dxic input
{
    font-size: 14px;
}

.grid-view .dxic input
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.grid-view-alternate-row
{
    background-color: #f5f5f5;
}

.grid-view-row-hot-track
{
    background-color: #d9e5ef;
}

.grid-view-inline-edit-row
{
    background-color: #fff6d5;
}

.grid-view-inline-edit-row input[type='text']
{
    outline: none;
}

.grid-view-inline-edit-cell
{
    padding: 3px 6px 4px 6px;
}

.grid-view-clear-filter
{
    cursor: pointer;
    font-size: 10px;
}

.grid-view-clear-filter .fa-filter
{
    color: #ccc;
}

.grid-view-clear-filter .fa-times
{
    margin-left: 4px;
    margin-top: 2px;
}