
h3.form-header
{    
    color: #444; 
    text-shadow: 0 1px 1px #fff; 
    border-bottom: none;
    margin-top: 15px; 
    margin-bottom: 10px;
}

#page-wrapper
{
    background-color: #f0f0f0;
    background-image: url(/images/textures/otis-redding.png);
}

.search-sidebar
{
    background-color: #fff;
    border-right: 2px solid #ddd;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.search-heading
{
    position: relative;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    line-height: 40px;
    background-color: #eaeaea;
    color: #222;
    text-transform: uppercase;
}

a.search-category-heading
{
    display: block;
    color: #222;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
}

a.search-category-heading:hover
{
    background-color: #f2f2f2;
}

.search-category
{
    border-top: 1px solid #ddd;
}

.search-category:last-child
{
    border-bottom: 2px solid #ddd;
}

a.search-category-heading .collapse-toggle
{
    float: right;
}

a.search-category-heading .collapse-toggle:before
{
    content: "\f077"; /* fa-chevron-up */
}

.search-category-heading.collapsed .collapse-toggle:before
{
    content: "\f078"; /* fa-chevron-down */
}

.search-category-criteria
{
    border-top: 1px solid #fff;
    padding: 15px 30px;
}

.search-category-footer
{
    padding: 10px 30px;
}

.search-results
{
    padding: 15px 30px;
}

@media (min-width: 768px)
{
    .listing-search-bar .col-criteria
    {
        padding: 0;
    }

    .listing-search-bar select
    {
        border-collapse: collapse;
        border-radius: 0;
    }

    .listing-search-bar .input-group-addon
    {
        border-collapse: collapse;
        border-radius: 0;
    }
}

.display-filter .dropdown-menu
{
    min-width: 180px;
}

.display-filter li a
{
    padding-top: 6px;
    padding-bottom: 6px;
}

.display-filter .all i
{
    color: #5679a1;
}

.display-filter .badge
{
    position: absolute;
    right: 15px;
}

.display-filter .all .badge
{
    background-color: #5679a1;
}

.display-filter .posted i
{
    color: #888b28;
}

.display-filter .posted .badge
{
    background-color: #888b28;
}

.display-filter .submitted i
{
    color: #3981ad;
}

.display-filter .submitted .badge
{
    background-color: #3981ad;
}

.display-filter .inactive i
{
    color: #777;
}

.display-filter .inactive .badge
{
    background-color: #777;
}

.display-filter .rejected i
{
    color: #c34646;
}

.display-filter .rejected .badge
{
    background-color: #c34646;
}

.display-filter .rented i
{
    color: #864a93;
}

.display-filter .rented .badge
{
    background-color: #864a93;
}
