
.modal .modal-header
{
    border-bottom: 1px solid #ddd;
}

.modal .modal-header h1,
.modal .modal-header h2,
.modal .modal-header h3,
.modal .modal-header h4
{
    margin: 0;
}

.modal .modal-body
{
    color: #888;
}

.modal .modal-footer
{
    background-color: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.modal.modal-progress
{
    background-color: rgba(255,255,255,.1);      
}

.modal.modal-progress .modal-content
{
    background-color: #fff;
    border-color: #ddd;
    border-radius: 3px;    
}

.modal.modal-progress .modal-body
{
    color: #888;
    font-size: 20px;    
}

.modal-progress .fa-spin
{
    color: #4ba7e2;    
    margin-right: 8px;
}

.modal-progress .modal-body
{
    border-top: none;
}

.modal.modal-default .modal-header
{
    background: #eee;
    background-image: -webkit-linear-gradient(top, #ffffff, #eee);
    background-image: -moz-linear-gradient(top, #ffffff, #eee);
    background-image: -ms-linear-gradient(top, #ffffff, #eee);
    background-image: -o-linear-gradient(top, #ffffff, #eee);
    background-image: linear-gradient(to bottom, #ffffff, #eee);
}

.modal.modal-success .modal-header
{
    background-color: #759e26;
    background-image: -webkit-linear-gradient(top, #759e26, #5c7b25);
    background-image: -moz-linear-gradient(top, #759e26, #5c7b25);
    background-image: -ms-linear-gradient(top, #759e26, #5c7b25);
    background-image: -o-linear-gradient(top, #759e26, #5c7b25);
    background-image: linear-gradient(to bottom, #759e26, #5c7b25);
}

.modal.modal-danger .modal-header
{
    background-color: #d24d4d;
    background-image: -webkit-linear-gradient(top, #d24d4d, #b83736);
    background-image: -moz-linear-gradient(top, #d24d4d, #b83736);
    background-image: -ms-linear-gradient(top, #d24d4d, #b83736);
    background-image: -o-linear-gradient(top, #d24d4d, #b83736);
    background-image: linear-gradient(to bottom, #d24d4d, #b83736);
}

.modal-success .modal-header, .modal-danger .modal-header
{
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}
